{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container py-5">
    <form method="post" class="border p-4 rounded shadow">
        <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input name="firstname" id="firstname" required class="form-control">
        </div>

        <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input name="lastname" id="lastname" required class="form-control">
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input name="username" id="username" required class="form-control">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" required class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Register</button>
    </form>
</div>
{% endblock %}
